SLACK_TOKEN = "xoxb-..." # your slack bot's bot token
SLACK_APP_TOKEN = "xapp-..." # your slack bot's App-Level token
SLACK_USER_TOKEN = "xoxp-..." # your slack bot's user token
SLACK_ID = "..." # your user slack id